<app-accounting-wrapper>
  <form [formGroup]="EncashmentForm" class="form-horizontal">
    <div class="row">
      <div class="col-xl-8 col-md-8">
        <p class="bg-primary text-center text-light bg-secondary title">
          Encashment Transaction
        </p>
        <div class="card first__part">
          <!-- <div class="card-header bg-primary">
                <h4 class="card-title text-white mb-0">Encashment Transaction</h4>
              </div> -->
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label"
                >A/C Type:<span class="text-danger">*</span></label
              >
              <div class="col-md-1">
                <input
                  type="text"
                  class="form-control"
                  formControlName="AccountTypeCode"
                  (change)="
                    onAccountTypeChange(EncashmentForm.value.AccountTypeCode)
                  "
                  appOnlyNumber
                />
              </div>
              <div class="col-md-3">
                <select
                  class="form-control pt-0"
                  formControlName="AccountTypeId"
                  (change)="
                    onAccountTypeChange(EncashmentForm.value.AccountTypeId)
                  "
                >
                  <option value="0">-Select-</option>
                  <option
                    *ngFor="let item of inputHelpData.AccountTypeList"
                    [value]="item.Id"
                  >
                    {{ item.Description }}
                  </option>
                </select>
              </div>
            </div>
            <div *ngIf="inputHelpData.ShowOldAccNo" class="form-group row">
              <label class="col-md-3 col-form-label">Old A/c No.:</label>
              <div class="col-md-4">
                <input
                  id="OldAccountNo"
                  type="text"
                  class="form-control"
                  formControlName="OldAccountNo"
                  (change)="onOldAccNoChange()"
                  (keydown)="onEnterOldAccHandler($event)"
                  appOnlyNumber
                />
              </div>
            </div>
            <!-- <div *ngIf="inputHelpData.ShowOldAccNo" class="form-group row">
              <label class="col-md-3 col-form-label">Manual A/c No.:</label>
              <div class="col-md-4">
                <input
                  id="ManualAccountNo"
                  type="text"
                  class="form-control"
                  formControlName="ManualAccountNo"
                  (keydown)="onEnterManualAccHandler($event)"
                  appOnlyNumber
                />
              </div>
            </div> -->
            <div class="form-group row">
              <label class="col-md-3 col-form-label"
                >Member No. :<span class="text-danger">*</span></label
              >
              <div class="col-md-4">
                <input
                  id="MemberNo"
                  type="text"
                  class="form-control"
                  formControlName="MemberNo"
                  (change)="onMemberChange()"
                  appOnlyNumber
                />
              </div>
              <label class="col-md-4 col-form-label">{{
                detailsData.MemberName
              }}</label>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">Account No.:</label>
              <div class="col-md-4">
                <input
                  type="text"
                  class="form-control"
                  formControlName="AccountNo"
                  disabled
                />
              </div>
            </div>

            <div *ngIf="!UserData?.AutoVchflag" class="form-group row">
              <label class="col-md-3 col-form-label"
                >Voucher No. :<span class="text-danger">*</span></label
              >
              <div class="col-md-4">
                <input
                  id="VoucherNo"
                  type="text"
                  class="form-control"
                  formControlName="VoucherNo"
                  (change)="OnVoucherNoChange()"
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">Transaction Type:</label>
              <div class="col-md-1">
                <input
                  id="TransactionTypeCode"
                  type="text"
                  class="form-control"
                  formControlName="TransactionTypeCode"
                  (change)="
                    onTransTypeChange(EncashmentForm.value.TransactionTypeCode)
                  "
                  appOnlyNumber
                />
              </div>
              <div class="col-md-3">
                <select
                  class="form-control pt-0"
                  formControlName="TransactionTypeId"
                  (change)="
                    onTransTypeChange(EncashmentForm.value.TransactionTypeId)
                  "
                >
                  <option value="0">-Select-</option>
                  <option
                    *ngFor="let item of inputHelpData.TransactionTypeList"
                    [value]="item.Id"
                  >
                    {{ item.Description }}
                  </option>
                </select>
              </div>
            </div>

            <div
              class="form-group row"
              *ngIf="EncashmentForm.value.TransactionTypeId == 48"
            >
              <label class="col-md-3 col-form-label">Bank Chq. No. :</label>
              <div class="col-md-4">
                <input
                  id="BankChequeNo"
                  type="text"
                  class="form-control"
                  formControlName="BankChequeNo"
                  (change)="onCheckHandler()"
                />
              </div>
            </div>

            <div
              class="form-group row"
              *ngIf="EncashmentForm.value.TransactionTypeId == 48"
            >
              <label class="col-md-3 col-form-label">GL Bank Code:</label>
              <div class="col-md-2">
                <input
                  id="BankCode"
                  type="text"
                  class="form-control"
                  formControlName="BankCode"
                  (change)="onBankChange(EncashmentForm.value.BankCode)"
                />
              </div>
              <div class="col-md-4">
                <select
                  class="form-control pt-0"
                  formControlName="BankId"
                  (change)="onBankChange(EncashmentForm.value.BankId)"
                >
                  <option value="0">-Select-</option>
                  <option
                    *ngFor="let item of inputHelpData.BankList"
                    [value]="item.Id"
                  >
                    {{ item.Description }}
                  </option>
                </select>
              </div>
            </div>

            <div
              class="row d-block topSection f-ss-14px"
              *ngIf="!detailsData?.HasMultipleAccount"
            >
              <div class="d-flex deposit-account-list-header">
                <div class="col-md-2">GL Code</div>
                <div class="col-md-4">Name of Account Head</div>
                <div class="col-md-4">Description</div>
                <div class="col-md-2">Amount</div>
              </div>

              <div
                style="margin-bottom: 10px"
                formArrayName="Transactions"
                *ngFor="
                  let item of EncashmentForm.get('Transactions')['controls'];
                  let i = index
                "
              >
                <div class="row" [formGroupName]="i">
                  <div class="col-md-2">
                    <input
                      class="form-control"
                      formControlName="GLAccNo"
                      disabled
                    />
                  </div>
                  <div class="col-md-4">
                    <input
                      class="form-control"
                      readonly
                      formControlName="GLAccDesc"
                    />
                  </div>
                  <div class="col-md-4">
                    <input
                      class="form-control"
                      formControlName="PayTypeDes"
                      disabled
                    />
                  </div>
                  <div *ngIf="i == 0 || i == 1 || i == 2" class="col-md-2">
                    <input
                      id="{{ 'TrnAmount' + i }}"
                      class="form-control"
                      type="text"
                      formControlName="TrnAmount"
                      (change)="onItemChange(i, item)"
                      (keydown)="onItemChangeEnterHandler($event, i, item)"
                      onfocus="this.select()"
                      appOnlyNumber
                    />
                  </div>
                  <div *ngIf="i == 3 || i == 4" class="col-md-2">
                    <input
                      class="form-control"
                      type="text"
                      formControlName="TrnAmount"
                      disabled
                    />
                  </div>
                </div>
              </div>
            </div>

            <table class="table" *ngIf="detailsData?.HasMultipleAccount">
              <tr style="background-color: YellowGreen">
                <td>A/c Type</td>
                <td>A/c Title</td>
                <td>A/c No.</td>
                <td>Old A/c</td>
                <td>Manual A/c</td>
                <td>GL Code</td>
                <td></td>
              </tr>
              <tr *ngFor="let item of detailsData.GroupAccounts; let i = index">
                <td>{{ item.AccType }}</td>
                <td>{{ item.GLAccDesc }}</td>
                <td>{{ item.AccNo }}</td>
                <td>{{ item.AccOldNumber }}</td>
                <td>{{ item.AccPrevNumber }}</td>
                <td>{{ item.GLAccNo }}</td>
                <td
                  class="gl-help-list-link"
                  (click)="onAccountNoSelect(item.AccNo)"
                >
                  Select
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card" style="margin-top: 30px">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Total Amount :</label>
              <div class="col-md-2">
                <div class="col-form-label">
                  <input
                    type="text"
                    class="form-control"
                    disabled
                    formControlName="TotalAmount"
                  />
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 mx-auto btns">
                <button
                  id="update"
                  type="button"
                  class="btn btn-success btn_1"
                  (click)="onUpdate()"
                >
                  Update
                </button>
                <button
                  type="button"
                  (click)="ViewImage()"
                  class="btn btn-primary ml-1"
                >
                  View Image
                </button>
                <button
                  type="button"
                  (click)="refresh()"
                  class="btn btn-info ml-1"
                >
                  Refresh
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <p class="bg-primary text-center text-light bg-secondary title">
          A/C Information
        </p>
        <div class="card">
          <!-- <div class="card-header bg-primary">
                <h4 class="card-title text-white mb-0">A/C Information</h4>
              </div> -->
          <app-encashment-account-info
            [accInfo]="accountDetailsData"
            [accView]="accountViewModel"
          ></app-encashment-account-info>
        </div>
      </div>
    </div>
  </form>
  <div class="image-popup col-md-3 text-center" *ngIf="imageUrl != ''">
    <span class="popup-cross" (click)="hideImageModal()">X</span>
    <img height="216" width="250" src="{{ imageUrl }}" />
  </div>
  <div class="imageSig-popup text-center col-md-3" *ngIf="sigUrl != ''">
    <span class="popup-cross" (click)="hideSigModal()">X</span>
    <img height="216" width="250" src="{{ sigUrl }}" />
  </div>
</app-accounting-wrapper>
