<app-house-keeping-wrapper>
  <div
    class="mx-auto border col-md-7 main-container"
  >
    <p class="bg-dark title">Signature/Picture Card Authorization</p>
    <div class="form-row d-flex">
      <label class="col-md-3">Upload Logo Image:</label>
      <div class="pl-2 form-group col-md-7">
        <input type="file" (change)="selectFile($event)" />

        <button *ngIf="fileHere" type="button" class="btn btn-success" (click)="submitBtnClick()">
          Upload Image
        </button>
        <!-- <button type="button" class="btn my-3 ml-2" (click)="exitPage()">
          Exit
        </button> -->
      </div>
    </div>
    <div class="img__show"><img [src]="url" *ngIf="url" /></div>

    <div class="mx-auto text-center">

    </div>
  </div>

</app-house-keeping-wrapper>
