<div class="card-body">
  <div class="form-group row">
    <label class="col-md-6 col-form-label">Account No. :</label>
    <div class="col-md-6">
      <div class="col-form-label">{{ aData.AccountNo }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">Ledger Balance :</label>
    <div class="col-md-6">
      <div class="col-form-label">{{ aData.LadgerBalance }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">Open Date :</label>
    <div class="col-md-6">
      <div class="col-form-label">{{ aData.OpenDate }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">Maturity Date :</label>
    <div class="col-md-6">
      <div class="col-form-label">{{ aData.MatruityDate }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">Benefit Date :</label>
    <div class="col-md-6">
      <div class="col-form-label">{{ aData.AccBenefitDate }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">Fixed Deposit Amount :</label>
    <div class="col-md-6">
      <div class="col-form-label">{{ aData.FixedDepositAmount }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">Cal. No. of Benefit :</label>
    <div class="col-md-6">
      <div class="col-form-label">{{ aData.NoOfBenefit }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">Paid No. of Benefit :</label>
    <div class="col-md-6">
      <div class="col-form-label">{{ aData.CalPeriod }}</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-6 col-form-label">Monthly Benefit :</label>
    <div class="col-md-6">
      <div class="col-form-label">{{ aData.MonthlyBenefit }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">Available Benefit :</label>
    <div class="col-md-6">
      <div class="col-form-label">{{ aData.AvailableBenefit }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">Corr. Account No. :</label>
    <div class="col-md-6">
      <div class="col-form-label">{{ aData.CorrAccountNo }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">Corr. Account Balance :</label>
    <div class="col-md-6">
      <div class="col-form-label">{{ aData.CorrAccountBalance }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">Corr. A/C Lien Amount :</label>
    <div class="col-md-6">
      <div class="col-form-label">{{ aData.CorrAccountLienAmount }}</div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">&nbsp;</label>
    <div class="col-md-6">
      <div class="col-form-label"></div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-md-6 col-form-label">&nbsp;</label>
    <div class="col-md-6">
      <div class="col-form-label"></div>
    </div>
  </div>
</div>
