<app-house-keeping-wrapper>
  <form
    [formGroup]="parameterMaintenanceEmailControlForm1"
    class="mx-auto  border col-md-6 main-container pb-2"
  >
    <p class="bg-dark title">Email From Address</p>

    <div class="form-group row">
      <label for="transactionamount" class="col-sm-2 col-form-label"
        >Email : <span style="color: red;">*</span></label
      >
      <div class="col-sm-6">
        <input type="email" placeholder="someone@example.com" class="form-control" formControlName="Email" (change)="validateEmail2()">
      </div>
      <div class="col-md-4">
        <label for="transactionamount" class="col-form-label" style="color: red;">{{emailMessage2}}</label>
      </div>
    </div>

    <div class="form-group row">
      <label for="transactionamount" class="col-sm-2 col-form-label"
        >Password :<span style="color: red;">*</span> </label
      >
      <div class="col-sm-6">
        <input type="password" class="form-control" formControlName="Password" (change)="validateName2()">
      </div>
      <div class="col-md-4">
        <label for="transactionamount" class="col-form-label" style="color: red;">{{nameMessage2}}</label>
      </div>
    </div>

    <div class="buttons col-md-9 mx-auto">
      <button type="button" (click)="updateData()"  class="btn btn-success ml-4">Update</button>
    </div>
  </form>
  <form
  [formGroup]="parameterMaintenanceEmailControlForm2"
  class="mx-auto mt-2 border col-md-6  main-container pb-2"
  >

    <p class="mt-1 bg-dark title">Email To Address</p>

    <div class="form-group row">
      <label for="transactionamount" class="col-sm-2 col-form-label"
        >Name : <span style="color: red;">*</span></label
      >
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          formControlName="Name"
          (change)="validateName1()"
        >
      </div>
      <div class="col-md-4">
        <label for="transactionamount" class="col-form-label" style="color: red;">{{nameMessage1}}</label>
      </div>
    </div>

    <div class="form-group row">
      <label for="transactionamount" class="col-sm-2 col-form-label"
        >Email : <span style="color: red;">*</span></label
      >
      <div class="col-sm-6">
        <input type="email" class="form-control" formControlName="Email" placeholder="someone@example.com" (change)="validateEmail1()">
      </div>
      <div class="col-md-4">
        <label for="transactionamount" class="col-form-label" style="color: red;">{{emailMessage1}}</label>
      </div>
    </div>

    <div class="buttons col-md-9 mx-auto">
      <button type="button" (click)="insertData()" class="btn btn-success ml-4">Insert</button>
    </div>
  </form>

  <div *ngIf="dataList.length != 0"  class="mx-auto mt-1 set-height col-md-6">
    <table id="Data">
      <span class="text-success">Email List</span>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let item of dataList">
            <td class="text-center">{{item.Name}}</td>
            <td>{{item.Email}}</td>
            <td class="pl-0 ml-0" style="width: 100px;"><span (click)="deleteData(item)"  type="button" class="ml-4 pl-3 mdi mdi-delete"></span></td>
        </tr>
    </table>
  </div>
</app-house-keeping-wrapper>
