<app-accounting-wrapper>
  <form
    novalidate
    [formGroup]="GroupCodeForm"
    class="mx-auto border col-md-8 pb-3"
  >
    <p class="bg-primary text-center text-light bg-secondary title">
      Group Code Maintenance
    </p>
    <div class="form-row">
      <label class="col-md-2">Group Code :</label>
      <div class="form-group col-md-2">
        <input
          type="text"
          class="form-control"
          id="RegNo"
          formControlName="RegNo"
          name="RegNo"
          (focusout)="changeSelectValue($event)"
          (keydown)="onEnterRegNoHandler($event)"
        />
      </div>
      <div class="form-group col-md-3">
        <select
          formControlName="Regdesc"
          class="form-control pt-0"
          (change)="selectChangeHandler($event)"
        >
          <option value="0">-Select-</option>
          <option *ngFor="let item of collectorList" [value]="item.RegNo">
            {{ item.RegName }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <label for="inputDesc" class="col-md-2">Group Name:</label>
      <div class="form-group col-md-5">
        <input
          type="text"
          formControlName="RegName"
          (keydown)="onEnterRegNameHandler($event)"
          class="form-control"
          id="RegName"
        />
      </div>
    </div>
    <div class="form-row">
      <label for="inputDesc" class="col-md-2">Address Line1:</label>
      <div class="form-group col-md-5">
        <input
          type="text"
          formControlName="AddressL1"
          (keydown)="onEnterAddressL1Handler($event)"
          class="form-control"
          id="AddressL1"
        />
      </div>
    </div>
    <div class="form-row">
      <label for="inputDesc" class="col-md-2">Address Line2:</label>
      <div class="form-group col-md-5">
        <input
          type="text"
          formControlName="AddressL2"
          (keydown)="onEnterAddressL2Handler($event)"
          class="form-control"
          id="AddressL2"
        />
      </div>
    </div>
    <div class="form-row">
      <label for="inputDesc" class="col-md-2">Address Line3:</label>
      <div class="form-group col-md-5">
        <input
          type="text"
          formControlName="AddressL3"
          (keydown)="onEnterAddressL3Handler($event)"
          class="form-control"
          id="AddressL3"
        />
      </div>
    </div>
    <div class="form-row">
      <label for="inputDesc" class="col-md-2">Division:</label>
      <div class="form-group col-md-2">
        <select
          formControlName="Division"
          id="Division"
          class="form-control pt-0"
          (change)="sentDiviCode()"
        >
          <option *ngFor="let item of divisionList" [value]="item.DivisionCode">
            {{ item.DivisionDescription }}
          </option>
        </select>
      </div>

      <label for="inputDesc" class="ml-4 mt-1">District:</label>
      <div class="form-group col-md-2 ml-3">
        <select
          formControlName="District"
          class="form-control pt-0"
          (change)="getUpizila()"
        >
          <option value="0">-Select-</option>
          <option *ngFor="let item of districtList" [value]="item.DistrictCode">
            {{ item.DestrictDiscription }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <label for="inputDesc" class="col-md-2">Upazila:</label>
      <div class="form-group col-md-2">
        <select
          formControlName="UpZila"
          class="form-control pt-0"
          (change)="getThana()"
        >
          <option value="0">-Select-</option>
          <option *ngFor="let item of upzilaList" [value]="item.UpzilaCode">
            {{ item.UpzilaDescription }}
          </option>
        </select>
      </div>
      <label for="inputDesc" class="ml-4 mt-1">Thana:</label>
      <div class="form-group col-md-2 ml-4">
        <select formControlName="Thana" class="form-control pt-0">
          <option value="0">-Select-</option>
          <option *ngFor="let item of thanaList" [value]="item.ThanaCode">
            {{ item.ThanaDescription }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <button
        type="button"
        class="btn btn-success mt-3"
        (click)="saveInformation()"
        *ngIf="btnSubmit"
      >
        Submit
      </button>
      <button
        type="button"
        class="btn btn-success mt-3"
        (click)="updateInformation()"
        *ngIf="btnUpdate"
      >
        Update
      </button>
    </div>
  </form>
  <div
    *ngIf="collectorInfoList.length != 0 && Show"
    class="mx-auto set-height col-md-8 mt-1"
  >
    <p class="title">Select Collector</p>
    <table id="Data">
      <tr>
        <th>Select</th>
        <th>Collector Name</th>
        <th>Code</th>
      </tr>
      <tr *ngFor="let item of collectorInfoList">
        <td class="text-center">
          <input
            type="checkbox"
            [checked]="item.Check"
            (change)="checkValue(item)"
          />
        </td>
        <td class="text-center">{{ item.ColName }}</td>
        <td class="text-center">{{ item.ColNo }}</td>
      </tr>
    </table>
  </div>
</app-accounting-wrapper>
