.title {
  background: #6c757d !important;
  color: #fff;
  font-weight: 600;
  padding: 2px;
}

.btn {
  padding: 4px 30px !important;
  transition: 0.7s ease-in;
  background: #0069aa;
  color: #fff;
}
.buttons {
  margin-left: 220px;
}
.buttons .btn_1 {
  padding: 4px 30px !important;
  transition: 0.7s ease-in;
  background: #28a745;
  color: #fff;
}

#Data {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.set-height {
  height: 320px;
  overflow-x: auto;
}

#Data td,
#Data th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#Data tr:nth-child(even) {
  background-color: #f2f2f2;
}

#Data tr:hover {
  background-color: #ddd;
}

#Data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0069aa;
  color: white;
  text-align: center;
}
