.title {
  background: #6C757D !important;
  color: #fff;
  font-weight: 600;
  padding: 2px;
}
  
input {
  box-shadow: none !important;
}
.buttons {
  text-align: center;
}
.btn {
  padding: 4px 30px !important;
  transition: 0.7s ease-in;
  /* background: #0069aa; */
  color: #fff;
  margin-left: 10px;
  margin-bottom: 10px;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
@media screen and (max-width: 570px) {
  .buttons {
    margin-left: 0px;
  }
}
