<app-main-wrapper [module]="module">
  <div class="container">
    <div class="image">
      <img src="../../../../assets/images/cculb_logo.png" alt="cculb_logo" />
    </div>
    <div class="animate one">
      <span>C</span><span>R</span><span>E</span><span>D</span><span>I</span
      ><span>T</span> &nbsp;<span>U</span><span>N</span><span>I</span
      ><span>O</span><span>N</span>&nbsp; <span>B</span><span>U</span
      ><span>S</span><span>I</span><span>N</span><span>E</span><span>S</span
      ><span>S</span>&nbsp; <span>I</span><span>N</span><span>F</span
      ><span>O</span><span>R</span><span>M</span><span>A</span><span>T</span
      ><span>I</span><span>O</span><span>N</span><br/><span>S</span
      ><span>O</span><span>L</span><span>U</span><span>T</span><span>I</span
      ><span>O</span><span>N</span>&nbsp;
    </div>
  </div>
  <!-- partial -->
</app-main-wrapper>
