<app-house-keeping-wrapper>
  <form
    [formGroup]="setupForm"
    novalidate
    class="mx-auto border col-md-6 main-container pb-3"
  >
    <p class="bg-dark title">Holiday Type Maintenance</p>
    <div class="form-row">
      <label>Holiday Type :</label><span class="text-danger">*</span>
      <div class="form-group col-md-4">
        <input
          type="text"
          class="form-control"
          formControlName="HolidayTypeCode"
          (change)="onTypeChange(setupForm.value.HolidayTypeCode)"
          
        />
      </div>
      <div class="form-group col-md-4">
        <select
          formControlName="HolType"
          class="form-control pt-0"
          (change)="onTypeChange(setupForm.value.HolType)"
        >
          <option value="">-Select-</option>
          <option *ngFor="let item of dataList" [value]="item.Id">
            {{ item.Description }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <label for="inputDesc">Description:</label
      ><span class="text-danger">*</span>
      <div class="form-group col-md-8">
        <input
          type="text"
          formControlName="HolTypeDescription"
          id="HolTypeDescription"
          class="form-control desc-input"
        />
      </div>
    </div>
    <div class="buttons">
      <button type="button" (click)="SaveOrUpdate()" class="btn btn-success">
        {{ submitButtonText }}
      </button>
      <button type="button" (click)="ViewList()" class="ml-5 btn btn_1">
        View
      </button>
    </div>
  </form>

  <div
    *ngIf="dataList.length != 0 && ShowList"
    class="mx-auto set-height col-md-6"
  >
    <table id="Data">
      <tr>
        <th>Type</th>
        <th>Description</th>
      </tr>
      <tr *ngFor="let item of dataList">
        <td class="text-center">{{ item.Id }}</td>
        <td>{{ item.Description }}</td>
      </tr>
    </table>
  </div>
</app-house-keeping-wrapper>
