.ng-invalid.ng-dirty:not(form),
.ng-invalid:not(form).form-submitted {
  border: solid 2px red;
}

.title {
  background: #6c757d !important;
  color: #fff;
  font-weight: 600;
  padding: 2px;
}
.buttons .btn_1 {
  padding: 4px 30px !important;
  transition: 0.7s ease-in;
  background: #28A745;
  color: #fff;
}
input {
  box-shadow: none !important;
}

.btn {
  padding: 4px 30px !important;
  transition: 0.7s ease-in;
  background: #0069aa;
  color: #fff;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
#Data {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.set-height {
  height: 310px;
  overflow-x: auto;
  padding: 0px !important;
}

#Data td,
#Data th {
  border: 1px solid #ddd;
  padding: 6px 0px;
}

#Data tr:nth-child(even) {
  background-color: #f2f2f2;
}

#Data tr:hover {
  background-color: #ddd;
}

#Data th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: #0069aa;
  color: white;
  text-align: center;
}
