.title {
  background: #6c757d !important;
  color: #fff;
  font-weight: 600;
  padding: 2px;
}
.btn {
  margin-top: 4px;
  padding: 4px 30px !important;
  transition: 0.7s ease-in;
  /* background: #0069aa; */
  color: #fff;
  margin-bottom: 10px;
}

.buttons {
  margin-left: 140px;
}
