<app-accounting-wrapper>
  <form [formGroup]="loanSettlementForm" class="form-horizontal">
    <div class="row">
      <div class="col-xl-8 col-md-8">
        <p class="bg-primary text-center text-light bg-secondary title">
          Loan Settlement Transaction
        </p>
        <div class="card first__part">
          <!-- <div class="card-header bg-primary">
              <h4 class="card-title text-white mb-0">Loan Settlement Transaction</h4>
            </div> -->
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label"
                >Member No. :<span class="text-danger">*</span></label
              >
              <div class="col-md-4">
                <input
                  type="text"
                  class="form-control"
                  formControlName="MemberNo"
                  (change)="onMemberChange()"
                  appOnlyNumber
                />
              </div>
              <label class="col-md-4 col-form-label">{{
                detailsData.MemberName
              }}</label>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label"
                >A/C Type:<span class="text-danger">*</span></label
              >
              <div class="col-md-1">
                <input
                  id="AccountTypeCode"
                  type="text"
                  class="form-control"
                  formControlName="AccountTypeCode"
                  (change)="
                    onAccountTypeChange(
                      loanSettlementForm.value.AccountTypeCode
                    )
                  "
                  appOnlyNumber
                />
              </div>
              <div class="col-md-3">
                <select
                  class="form-control pt-0"
                  formControlName="AccountTypeId"
                  (change)="
                    onAccountTypeChange(loanSettlementForm.value.AccountTypeId)
                  "
                >
                  <option value="0">-Select-</option>
                  <option
                    *ngFor="let item of inputHelpData.AccountTypeList"
                    [value]="item.Id"
                  >
                    {{ item.Description }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Account No.:</label>
              <div class="col-md-4">
                <input
                  type="text"
                  class="form-control"
                  formControlName="AccountNo"
                  disabled
                />
              </div>
            </div>

            <div *ngIf="!UserData?.AutoVchflag" class="form-group row">
              <label class="col-md-3 col-form-label"
                >Voucher No. :<span class="text-danger">*</span></label
              >
              <div class="col-md-4">
                <input
                  id="VoucherNo"
                  type="text"
                  class="form-control"
                  formControlName="VoucherNo"
                  (change)="OnVoucherNoChange()"
                />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">Transaction Type:</label>
              <div class="col-md-1">
                <input
                  id="TransactionTypeCode"
                  type="text"
                  class="form-control"
                  formControlName="TransactionTypeCode"
                  (change)="
                    onTransTypeChange(
                      loanSettlementForm.value.TransactionTypeCode
                    )
                  "
                  appOnlyNumber
                />
              </div>
              <div class="col-md-3">
                <select
                  class="form-control pt-0"
                  formControlName="TransactionTypeId"
                  (change)="
                    onTransTypeChange(
                      loanSettlementForm.value.TransactionTypeId
                    )
                  "
                >
                  <option value="0">-Select-</option>
                  <option
                    *ngFor="let item of inputHelpData.TransactionTypeList"
                    [value]="item.Id"
                  >
                    {{ item.Description }}
                  </option>
                </select>
              </div>
            </div>

            <div
              class="row d-block topSection f-ss-14px"
              *ngIf="!accountViewModel?.HasMultipleAccount"
            >
              <div class="d-flex deposit-account-list-header">
                <div class="col-md-2">GL Code</div>
                <div class="col-md-4">Name of Account Head</div>
                <div class="col-md-4">Description</div>
                <div class="col-md-2">Amount</div>
              </div>

              <div
                style="margin-bottom: 10px"
                formArrayName="DepositedAccountList"
                *ngFor="
                  let item of loanSettlementForm.get('DepositedAccountList')[
                    'controls'
                  ];
                  let i = index
                "
              >
                <div class="row" [formGroupName]="i">
                  <div class="col-md-2">
                    <input
                      class="form-control"
                      formControlName="GLAccNo"
                      disabled
                    />
                  </div>
                  <div class="col-md-4">
                    <input
                      class="form-control"
                      readonly
                      formControlName="GLAccDesc"
                    />
                  </div>
                  <div class="col-md-4">
                    <input
                      class="form-control"
                      readonly
                      formControlName="PayTypeDes"
                    />
                  </div>
                  <div class="col-md-2" *ngIf="i == 0">
                    <input
                      class="form-control"
                      readonly
                      type="text"
                      formControlName="TrnAmount"
                    />
                  </div>
                  <div class="col-md-2" *ngIf="i == 1 || i == 2">
                    <input
                      id="{{ 'TrnAmount' + i }}"
                      class="form-control"
                      type="text"
                      formControlName="TrnAmount"
                      (change)="onAmountChange(i, item)"
                      appOnlyNumber
                      onfocus="this.select()" 
                      (keydown)="onAmountEnterHandler($event, i, item)"
                    />
                  </div>
                </div>
              </div>
            </div>

            <table class="table" *ngIf="accountViewModel?.HasMultipleAccount">
              <tr style="background-color: YellowGreen">
                <td>A/c Type</td>
                <td>A/c Title</td>
                <td>A/c No.</td>
                <td>Old A/c</td>
                <td>Manual A/c</td>
                <td>GL Code</td>
                <td></td>
              </tr>
              <tr
                *ngFor="
                  let item of accountViewModel.GroupAccounts;
                  let i = index
                "
              >
                <td>{{ item.AccType }}</td>
                <td>{{ item.GLAccDesc }}</td>
                <td>{{ item.AccNo }}</td>
                <td>{{ item.AccOldNumber }}</td>
                <td>{{ item.AccPrevNumber }}</td>
                <td>{{ item.GLAccNo }}</td>
                <td
                  class="gl-help-list-link"
                  (click)="onAccountNoSelect(item.AccNo)"
                >
                  Select
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card" style="margin-top: 30px">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Total Amount :</label>
              <div class="col-md-2">
                <div class="col-form-label">
                  <input
                    type="text"
                    class="form-control"
                    disabled
                    formControlName="TotalAmount"
                  />
                </div>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-6 mx-auto">
                <button
                  id="update"
                  type="button"
                  class="btn btn-success"
                  (click)="onUpdate()"
                >
                  Update
                </button>
                <button
                type="button"
                class="btn btn-info ml-2"
                (click)="refresh()"
              >
                Refresh
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <p class="bg-primary text-center text-light bg-secondary title">
          A/C Information
        </p>
        <div class="card">
          <!-- <div class="card-header bg-primary">
              <h4 class="card-title text-white mb-0">A/C Information</h4>
            </div> -->
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-6 col-form-label">Account No. :</label>
              <div class="col-md-6">
                <div class="col-form-label">
                  {{ accountDetailsData.AccountNo }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-6 col-form-label">Outstanding Bal. :</label>
              <div class="col-md-6">
                <div class="col-form-label">
                  {{ accountDetailsData.LadgerBalance }}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-6 col-form-label">Open Date :</label>
              <div class="col-md-6">
                <div class="col-form-label">
                  {{ accountDetailsData.OpenDate }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-6 col-form-label">Loan Expiry Date :</label>
              <div class="col-md-6">
                <div class="col-form-label">
                  {{ accountDetailsData.AccLoanExpiryDate }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-6 col-form-label">Last Payment Date :</label>
              <div class="col-md-6">
                <div class="col-form-label">
                  {{ accountDetailsData.LastTrnDate }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-6 col-form-label">Sanction Amount :</label>
              <div class="col-md-6">
                <div class="col-form-label">
                  {{ accountDetailsData.SancAmount }}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-6 col-form-label"
                >Disbursement Amount :</label
              >
              <div class="col-md-6">
                <div class="col-form-label">
                  {{ accountDetailsData.DisbAmt }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-6 col-form-label">Interest Rate :</label>
              <div class="col-md-6">
                <div class="col-form-label">
                  {{ accountDetailsData.IntRate }}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-6 col-form-label">Installment Amt. :</label>
              <div class="col-md-6">
                <div class="col-form-label">
                  {{ accountDetailsData.InstlAmt }}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-6 col-form-label"
                >No. of Installment :</label
              >
              <div class="col-md-6">
                <div class="col-form-label">
                  {{ accountDetailsData.NoInstl }}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-6 col-form-label">Cal.Interest Amt. :</label>
              <div class="col-md-6">
                <div class="col-form-label">
                  {{ accountDetailsData.CalInterestAmt }}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-6 col-form-label"
                >Due Principal Amt. :</label
              >
              <div class="col-md-6">
                <div class="col-form-label">
                  {{ accountDetailsData.DuePrincipalAmt }}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-6 col-form-label">Due Interest Amt. :</label>
              <div class="col-md-6">
                <div class="col-form-label">
                  {{ accountDetailsData.DueInterestAmt }}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-6 col-form-label"
                >No. of Defaulter Period :</label
              >
              <div class="col-md-6">
                <div class="col-form-label">
                  {{ accountDetailsData.NoOfDefaulterPeriod }}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-6 col-form-label">Corr. Account No. :</label>
              <div class="col-md-6">
                <div class="col-form-label">
                  {{ accountDetailsData.CorrAccountNo }}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-6 col-form-label"
                >Corr. Account Balance :</label
              >
              <div class="col-md-6">
                <div class="col-form-label">
                  {{ accountDetailsData.CorrAccountBalance }}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-6 col-form-label">&nbsp;</label>
              <div class="col-md-6">
                <div class="col-form-label"></div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-6 col-form-label">&nbsp;</label>
              <div class="col-md-6">
                <div class="col-form-label"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</app-accounting-wrapper>
