<app-house-keeping-wrapper>
  <form
    [formGroup]="RejectedCodeForm"
    novalidate
    class="mx-auto border col-md-6 main-container pb-3"
  >
    <p class="bg-dark title">Loan Reject Code Maintenance</p>
    <div class="form-row">
      <label for="inputProCode">Loan Reject Code:</label>
      <div class="form-group col-md-3 pl-2">
        <input
          type="text"
          (change)="changeSelectValue($event)"
          class="form-control"
          id="LRejectCode"
          formControlName="LRejectCode"
          name="LRejectCode"
        />
      </div>
      <div class="form-group col-md-5">
        <select
          formControlName="selectedOptionCode"
          (change)="selectChangeHandler($event)"
          class="form-control pt-0"
        >
          <option value="0">-Select-</option>
          <option *ngFor="let item of dataList" [value]="item.LRejectCode">
            {{ item.LRejectDescription }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <label for="inputDesc">Note Description:</label
      ><span class="text-danger">*</span>
      <div class="form-group col-md-8">
        <textarea
          formControlName="LRejectDescription"
          class="form-control"
          id="LRejectDescription"
        ></textarea>
        <div
          *ngIf="
            RejectedCodeForm.controls['LRejectDescription'].invalid &&
            RejectedCodeForm.controls['LRejectDescription'].touched
          "
          class="text-danger ml-4"
        >
          Required*
        </div>
      </div>
    </div>
    <div class="buttons">
      <button type="button" (click)="saveOrUpdate()" class="btn btn-success">
        {{ submitButtonText }}
      </button>
      <button
        type="button"
        (click)="getTableReportData()"
        class="ml-5 btn btn_1"
      >
        View
      </button>
    </div>
  </form>

  <div
    *ngIf="dataList.length != 0 && displayTabularData"
    class="mx-auto set-height col-md-6"
  >
    <table id="Data">
      <tr>
        <th>Code</th>
        <th>Description</th>
      </tr>
      <tr *ngFor="let item of dataList">
        <td class="text-center">{{ item.LRejectCode }}</td>
        <td>{{ item.LRejectDescription }}</td>
      </tr>
    </table>
  </div>
</app-house-keeping-wrapper>
