<app-accounting-wrapper>
  <form [formGroup]="accLedgerBalanceSMSForm">
    <div class="mx-auto border col-md-8">
      <p class="bg-dark title">Account Ledger Balance SMS Service</p>
      <div class="form-row ml-0 mt-2 col-md-7">
        <input
          type="checkbox"
          class="ml-3 pl-5 mb-3"
          checked
          (change)="changeCheckCollector()"
        />
        <label class="col-md-3 pr-0">Collector Code:</label>
        <div class="form-group col-md-8 d-flex mt-0 pt-0">
          <input
            type="text"
            formControlName="CollectorCode"
            (change)="collectorCodeChange()"
            appOnlyNumberWithoutDecimal
            class="form-control mt-0 pt-0"
          />
          <select
            class="form-control pt-0 ml-2 col-md-7"
            (change)="collectorCodeChange()"
            formControlName="CollectorCode"
          >
            <option value="0">-Select-</option>
            <option *ngFor="let item of collectorCodeList" [value]="item.Id">
              {{ item.Description }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-row ml-0 mt-2 col-md-7">
        <input
          type="checkbox"
          class="ml-3 pl-5 mb-3"
          checked
          (change)="changeCheckGroup()"
        />
        <label class="col-md-3 pr-0">Group Name:</label>
        <div class="form-group col-md-8 d-flex mt-0 pt-0">
          <input
            type="text"
            formControlName="GroupName"
            (change)="groupCodeChange()"
            appOnlyNumberWithoutDecimal
            class="form-control mt-0 pt-0"
          />
          <select
            class="form-control pt-0 ml-2 col-md-7"
            (change)="groupCodeChange()"
            formControlName="GroupName"
          >
            <option value="0">-Select-</option>
            <option *ngFor="let item of groupNameList" [value]="item.Id">
              {{ item.Description }}
            </option>
          </select>
        </div>
      </div>
      <div class="form-row ml-0 mt-2 mx-auto">
        <div *ngIf="showGenerateList" class="set-height col-md-12">
          <table id="Data" class="col-md-12">
            <tr>
              <th>Select</th>
              <th>Mem No.</th>
              <th>Name</th>
              <th>Mobile No.</th>
              <th>AccNoA</th>
              <th>BalanceA</th>
              <th>AccNoB</th>
              <th>BalanceB</th>
              <th>AccNoC</th>
              <th>BalanceC</th>
              <th>AccNoD</th>
              <th>BalanceD</th>
            </tr>
            <tr *ngFor="let item of generateList">
              <td class="text-center">
                <input
                  type="checkbox"
                  [checked]="item.SelectFlag"
                  (change)="changeAccCheck(item)"
                />
              </td>
              <td class="text-center">{{ item.MemNo }}</td>
              <td class="text-center">{{ item.MemName }}</td>
              <td class="text-center">{{ item.MemPreMobile }}</td>
              <td class="text-center">{{ item.AccNoA }}</td>
              <td class="text-center">{{ item.ClosingA }}</td>
              <td class="text-center">{{ item.AccNoB }}</td>
              <td class="text-center">{{ item.ClosingB }}</td>
              <td class="text-center">{{ item.AccNoC }}</td>
              <td class="text-center">{{ item.ClosingC }}</td>
              <td class="text-center">{{ item.AccNoD }}</td>
              <td class="text-center">{{ item.ClosingD }}</td>
            </tr>
          </table>
        </div>
        <div *ngIf="!showGenerateList" class="set-height col-md-12">
          <table id="Data" class="col-md-12">
            <tr>
              <th>Select</th>
              <th>A/C Type</th>
              <th>A/C Title</th>
            </tr>
            <tr *ngFor="let item of accTypeList; let i = index">
              <td class="text-center">
                <input
                  type="checkbox"
                  [checked]="item.CheckBox"
                  (change)="changeAccTypeCheck(item)"
                />
              </td>
              <td class="text-center">{{ item.Id }}</td>
              <td class="text-center">{{ item.Description }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div *ngIf="!showGenerateList" class="mx-auto col-md-8 main-container">
      <div class="buttons col-md-8 mt-3 mx-auto d-flex">
        <button
          type="button"
          class="btn btn-success"
          (click)="btnGenerateClick()"
        >
          Generate SMS
        </button>

        <!-- <button type="button" class="btn ml-3" (click)="exitPage()">Exit</button> -->
      </div>
    </div>

    <div *ngIf="showGenerateList==true" class="buttons col-md-8 mt-3 mx-auto d-flex">
      <button type="button" class="btn btn-success ml-1" (click)="sendSMSClick()">
        Send SMS
      </button>
      <button type="button" class="btn btn-primary ml-1" (click)="selectAllAcc()">
        All Mark
      </button>
      <button type="button" class="btn btn-secondary ml-1" (click)="unselectAllAcc()">
        All Un-mark
      </button>
      <!-- <button type="button" class="btn ml-1" (click)="exitPage()">
        Exit
      </button> -->
      <button type="button" class="btn btn-info ml-1" (click)="backBtnClick()">
        Back
      </button>
    </div>
  </form>
</app-accounting-wrapper>
