<app-accounting-wrapper>
  <form [formGroup]="setupForm" novalidate class="form-horizontal">
    <div class="row">
      <div class="col-xl-8 col-md-8">
        <p class="bg-primary text-center text-light bg-secondary title">
          Share Dividend Calculation
        </p>
        <div class="card">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">A/C Type:</label>
              <div class="form-group col-md-2">
                <input
                  type="text"
                  class="form-control"
                  disabled
                  formControlName="AccountTypeCode"
                />
              </div>
              <div class="col-md-5">
                <select
                  formControlName="AccountTypeId"
                  class="form-control pt-0"
                  (change)="onTypeChange(setupForm.value.AccountTypeId)"
                >
                  <option value="">-Select-</option>
                  <option
                    *ngFor="let item of accountTypeList"
                    [value]="item.Id"
                  >
                    {{ item.Description }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-3"></div>
              <div class="col-md-7">
                <input
                  type="radio"
                  value="1"
                  (change)="setDividendType()"
                  name="DividendTypeId"
                  formControlName="DividendTypeId"
                />
                Share Dividend
                <input
                  type="radio"
                  style="margin-left: 20px"
                  value="2"
                  (change)="setDividendType()"
                  name="DividendTypeId"
                  formControlName="DividendTypeId"
                />
                Share Bonus
                <input
                  type="radio"
                  style="margin-left: 20px"
                  value="3"
                  (change)="setDividendType()"
                  name="DividendTypeId"
                  formControlName="DividendTypeId"
                />
                Special Share Bonus
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-3"></div>
              <div class="col-md-7 cal-period">
                <span *ngIf="interestDetailsData.CalculationPeriod != null"
                  >{{ dividendType }}
                  {{ interestDetailsData.CalculationPeriod }}</span
                >

                <span
                  class="regular-text"
                  *ngIf="
                    interestDetailsData.CalculationPeriod != null &&
                    setupForm.value.DividendTypeId == 3
                  "
                  >REGULAR</span
                >
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">GL Debit Code:</label>
              <div class="form-group col-md-2">
                <div class="mt-0 pt-0 form-control">
                  {{ interestDetailsData.GlDebitCode }}
                </div>
              </div>
              <div class="form-group col-md-5">
                <div class="mt-0 pt-0 form-control">
                  {{ interestDetailsData.GlDebitCodeDesc }}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">GL Credit Code:</label>
              <div class="form-group col-md-2">
                <div class="mt-0 pt-0 form-control">
                  {{ interestDetailsData.GlCreditCode }}
                </div>
              </div>
              <div class="form-group col-md-5">
                <div class="mt-0 pt-0 form-control">
                  {{ interestDetailsData.GlCreditCodeDesc }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label"
                >Target Account Type:</label
              >
              <div class="form-group col-md-2">
                <div class="mt-0 pt-0 form-control">
                  {{ interestDetailsData.TargetAccType }}
                </div>
              </div>
              <div class="form-group col-md-5">
                <div class="mt-0 pt-0 form-control">
                  {{ interestDetailsData.TargetAccTypeDesc }}
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Rate:</label>
              <div class="form-group col-md-2">
                <div class="mt-0 pt-0 form-control">
                  {{ interestDetailsData.PrmIntRate }}
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label">Input Voucher No.:</label>
              <div class="form-group col-md-7">
                <input
                  maxlength="10"
                  type="text"
                  formControlName="VoucherNo"
                  class="form-control mt-0 pt-0"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-4">
        <table id="Data">
          <tr>
            <th>Branch</th>
            <th>Calculation Status</th>
          </tr>
          <tr *ngFor="let n of calculationStatusList">
            <td>{{ n.BranchNo }}</td>
            <td>{{ n.CalStatus }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="buttons mt-2">
      <button type="button" (click)="onCalculation()" class="btn btn-primary">
        Calculation
      </button>
      <button
        type="button"
        (click)="setParameter1()"
        class="btn btn-success"
        style="margin-left: 20px"
      >
        View - Summary
      </button>
      <button
        type="button"
        (click)="setParameter2()"
        class="btn btn-primary"
        style="margin-left: 20px"
      >
        View - Detail
      </button>
      <button
        type="button"
        (click)="onPost()"
        class="btn btn-info"
        style="margin-left: 20px"
      >
        Post
      </button>
      <button
        *ngIf="showProofSheet"
        type="button"
        (click)="showProofModal()"
        class="btn btn-primary"
        style="margin-left: 20px"
      >
        Proof Sheet
      </button>
      <button
        type="button"
        (click)="onReversePost()"
        class="btn btn-danger"
        style="margin-left: 20px"
      >
        Post - Reverse
      </button>
    </div>
    <div *ngIf="showModal" class="modal__view col-md-5 mx-auto py-3">
      <div class="col-md-8 mx-auto">
        <h4 class="text-center">Print Proof Sheet</h4>
        <div class="col-md-12 mx-auto">
          <label for="ratio" class="ml-3">Get Special Share Bonus</label>
          <input
            type="radio"
            class="ml-2"
            value="1"
            name="ModalId"
            formControlName="ModalId"
          />
          Yes
          <input
            type="radio"
            class="ml-1"
            value="2"
            name="ModalId"
            formControlName="ModalId"
          />
          No
        </div>
        <div class="col-md-12 text-center">
          <button class="btn btn-primary" (click)="modalYes()">Print</button>
          <button class="btn btn-danger ml-3" (click)="modalNo()">Exit</button>
        </div>
      </div>
    </div>
  </form>
</app-accounting-wrapper>
