<app-accounting-wrapper>
  <form>
    <div class="mx-auto border col-md-7">
      <div class="bg-dark title row-md-12">
        <div class="col-md-9">Verify CS Daily Transaction</div>
      </div>

      <!-- <table id="Data" class="mt-3">
                <tr>
                    <td class="ml-2 pl-4">Voucher No:</td>
                    <td>
                        <input type="text" formControlName="VoucherNo" class="form-control mt-0 pt-0">
                    </td>
                    <td><button  type="button" (click)="onSearch()" class="btn">Search</button></td>
                </tr>
            </table> -->
    </div>
  </form>
  <div *ngIf="!showOther" class="mx-auto mt-1 col-md-7 set-height">
    <table id="Data" class="col-md-12">
      <tr>
        <th>Action</th>
        <th>Voucher No</th>
        <th>Function</th>
        <th>Amount</th>
        <th>Module</th>
        <th>User Id.</th>
      </tr>
      <tr *ngFor="let item of dataList">
        <td class="text-center">
          <button
            type="button"
            class="btn btn-primary"
            value="item.VchNo"
            (click)="onSelect(item)"
            data-toggle="modal"
            data-target="#exampleModal"
          >
            Select
          </button>
        </td>

        <td class="text-center">{{ item.VoucherNo }}</td>
        <td class="text-center">{{ item.FuncOptDesc }}</td>
        <td class="text-center">{{ item.Amount }}</td>
        <td class="text-center">{{ item.Module }}</td>
        <td class="text-center">{{ item.UserId }}</td>
      </tr>
    </table>
  </div>
  <div *ngIf="showOther" class="mx-auto col-md-7 set-height">
    <div class="text-center">
      <h2>All Record Verify Successfully Completed</h2>
      <h3 class="mt-2">No More Record for Verify</h3>
    </div>
  </div>
  <!-- <div class="mx-auto col-md-7 set-height">    
        <div class="buttons mx-auto d-flex justify-content-center ">
            <button type="button" (click)="exitPage()" class="btn ml-5">Exit</button>
        </div>
    </div> -->

  <!-- Modal -->
  <div
    class="modal fade bd-example-modal-lg"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ itemType }}</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-row ml-4 pl-2 mt-2 mb-0 pb-0">
            <table id="Data2">
              <tr>
                <td>Voucher No:</td>
                <td>
                  {{ voucherNo }}
                </td>
                <td></td>
              </tr>
              <tr>
                <td>Transaction Date:</td>
                <td>
                  {{ transactionDate }}
                </td>
                <td></td>
              </tr>
              <tr>
                <td>Member Number:</td>
                <td>
                  {{ memberNo }}
                </td>
                <td>{{ memberName }}</td>
              </tr>
              <tr>
                <td>User Id.:</td>
                <td>{{ userId }}</td>
                <td>{{ userIdName }}</td>
              </tr>
            </table>
          </div>

          <div
            *ngIf="showVerifyDataList"
            class="mx-auto mt-1 mt-5 col-md-11 set-height"
          >
            <table id="Data" class="col-md-12">
              <tr>
                <th>AccType</th>
                <th>AccNo</th>
                <th>Description</th>
                <th>Amount</th>
              </tr>
              <tr *ngFor="let item of verifyDataList">
                <td class="text-center">{{ item.AccType }}</td>
                <td class="text-center">{{ item.AccNo }}</td>
                <td class="text-center">{{ item.TrnDesc }}</td>
                <td class="text-center">{{ item.GLAmount }}</td>
              </tr>
            </table>
          </div>

          <div class="form-row ml-4 pl-3 mt-0 pt-0">
            <label>{{ totalAmountText }}:</label>
            <div class="form-group col-md-2 ml-2 mt-0 pt-0">
              <label> {{ totalAmount }} </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            (click)="verifyData()"
            class="btn btn-success"
            data-dismiss="modal"
          >
            Verify
          </button>
        </div>
      </div>
    </div>
  </div>
</app-accounting-wrapper>
