<app-accounting-wrapper>
  <form [formGroup]="YEPostTrnForm">
    <div class="mx-auto border col-md-7">
      <div class="bg-dark title">GL Year End Post Transaction</div>

      <table id="Data" class="mt-3">
        <tr>
          <td class="ml-2 pl-4">Transaction Date:</td>
          <td>
            <input
              type="text"
              formControlName="CtrlTrnDate"
              class="form-control mt-0 pt-0"
              readonly
            />
          </td>
        </tr>
      </table>
      <div class="buttons">
        <button type="button" (click)="finalPostBtn()" class="btn btn-success">
          Final Post
        </button>
      </div>
    </div>
  </form>

  <div class="mx-auto col-md-7 set-height">
    <table id="Data" class="col-md-12">
      <tr>
        <th>Vch. No</th>
        <th>GL Code</th>
        <th>GL Code Name</th>
        <th>Description</th>
        <th>Debit</th>
        <th>Credit</th>
      </tr>
      <tr *ngFor="let item of DataList">
        <td class="text-center">{{ item.VchNo }}</td>
        <td class="text-center">{{ item.GLAccNo }}</td>
        <td class="text-center">{{ item.GLAccDesc }}</td>
        <td class="text-center">{{ item.TrnDesc }}</td>
        <td class="text-center">{{ item.GLDebitAmt }}</td>
        <td class="text-center">{{ item.GLCreditAmt }}</td>
      </tr>
    </table>
  </div>
</app-accounting-wrapper>
