<app-house-keeping-wrapper>
  <form
    [formGroup]="LoanPurposeCodeForm"
    novalidate
    class="mx-auto mt-3 border col-md-6 main-container pb-3"
  >
    <p class="bg-dark title">Loan Purpose Code Maintenance</p>
    <div class="form-row">
      <label>Loan Purpose Code:</label>
      <div class="form-group col-md-3">
        <input
          type="text"
          (change)="changeSelectValue($event)"
          class="form-control"
          id="LPurposeCode"
          formControlName="LPurposeCode"
          name="LPurposeCode"
        />
      </div>
      <div class="form-group col-md-5">
        <select
          formControlName="selectedOptionCode"
          (change)="selectChangeHandler($event)"
          class="form-control pt-0"
        >
          <option *ngFor="let item of dataList" [value]="item.LPurposeCode">
            {{ item.LPurposeDescription }}
          </option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <label for="inputDesc">Description:</label>
      <div class="form-group col-md-8">
        <input
          type="text"
          formControlName="LPurposeDescription"
          class="form-control desc-input"
          id="LPurposeDescription"
        />
      </div>
    </div>
    <div class="buttons">
      <button type="button" (click)="saveOrUpdate()" class="btn btn-success">
        {{ submitButtonText }}
      </button>
      <button
        type="button"
        (click)="getTableReportData()"
        class="ml-5 btn btn_1"
      >
        View
      </button>
    </div>
  </form>

  <div
    *ngIf="dataList.length != 0 && displayTabularData"
    class="mx-auto set-height col-md-6"
  >
    <table id="Data">
      <tr>
        <th>Code</th>
        <th>Description</th>
      </tr>
      <tr *ngFor="let item of dataList">
        <td class="text-center">{{ item.LPurposeCode }}</td>
        <td>{{ item.LPurposeDescription }}</td>
      </tr>
    </table>
  </div>
</app-house-keeping-wrapper>
