.ng-invalid.ng-dirty:not(form),
.ng-invalid:not(form).form-submitted {
  border: solid 2px red;
}

.title {
  background: #6c757d !important;
  color: #fff;
  font-weight: 600;
  padding: 2px;
}

input {
  box-shadow: none !important;
}

.desc-input {
  margin-left: 30px !important;
}

.buttons {
  margin-top: 15px;
  margin-left: 145px;
}
.btns .btn_1 {
  padding: 4px 35px !important;
  transition: 0.7s ease-in;
  background: #28a745;
  color: #fff;
}
.btn {
  padding: 4px 35px !important;
  transition: 0.7s ease-in;
  background: #0069aa;
  color: #fff;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
  background: olive !important;
  border-color: red !important;
  border: 2;
  border-width: 2;
}

.btnUpdate:focus {
  background: olive !important;
  border-color: red !important;
  border: 2;
  border-width: 2;
}

#Data {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.set-height {
  height: 310px;
  overflow-x: auto;
  padding: 0px !important;
}

#Data td,
#Data th {
  border: 0px solid #ddd;
  padding: 8px;
}

#Data tr:nth-child(even) {
  background-color: #f2f2f2;
}

#Data tr:hover {
  background-color: #ddd;
}

#Data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0069aa;
  color: white;
  text-align: center;
}
.deposit-account-list-header {
  color: White;
  background-color: #000084;
  font-weight: bold;
  margin-bottom: 10px;
}
@media screen and (max-width: 762px) {
  .desc-input {
    margin-left: 0px !important;
  }
  .buttons {
    margin-left: 0px;
  }
}

.modal_alert {
  background-color: #e9e9e9;
  height: 200px;
  width: 500px;
  position: absolute;
  top: 20%;
  left: 20%;
}

#Data {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.set-height {
  height: 310px;
  overflow-x: auto;
}

#Data td,
#Data th {
  border: 1px solid #ddd;
  padding: 8px;
}

#Data tr:nth-child(even) {
  background-color: #f2f2f2;
}

#Data tr:hover {
  background-color: #ddd;
}

#Data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0069aa;
  color: white;
  text-align: center;
}
