  .title {
    background: #6C757D !important;
    color: #fff;
    font-weight: 600;
    padding: 2px !important;
  }
  label{
    padding: 2px !important;
  }
  input {
    box-shadow: none !important;
  }
  .btn {
    margin-top: 4px;
    padding: 4px 30px !important;
    transition: 0.7s ease-in;
    background: #0069AA;
    color: #fff;
  }
  
  .btn:focus {
    outline: none !important;
    box-shadow: none !important;
  }