<div class="pt-5 my-5 account-pages">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card">
                    <div class="card-body">
                       
                        <form class="p-2">
                            <div class="form-group">
                                <label for="CurrentPassword">Current Password</label>
                                <input class="form-control" type="password" maxlength="8"  name="CurrentPassword" [(ngModel)]="CurrentPassword">
                            </div>
                            <div class="form-group">
                                <label for="NewPassword">New Password</label>
                                <input class="form-control" type="password" maxlength="8" name="NewPassword" [(ngModel)]="NewPassword">
                            </div>
                            <div class="form-group">
                                <label for="NewPassword">Confirm Password</label>
                                <input class="form-control" type="password" maxlength="8" name="ConfirmPassword" [(ngModel)]="ConfirmPassword">
                            </div>

                            <div class="mb-3 text-center">
                                <button class="btn btn-primary btn-block" type="button" (click)="onSubmit()"> Submit </button>
                            </div>
                        </form>
                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
  </div>
  <!-- end page -->
  