<form [formGroup]="loanInfoForm" class="form-horizontal">
  <div class="form-group row">
    <label class="col-md-3 col-form-label"
      >Application Date:<span class="text-danger">*</span></label
    >
    <div class="col-md-3">
      <input
        type="text"
        class="form-control"
        formControlName="ApplicationDate"
      />
    </div>
    <label class="col-md-4 col-form-label"
      >Last Application No.: {{ inputHelpData.LastApplicationNo }}</label
    >
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label"
      >Loan A/C Type:<span class="text-danger">*</span></label
    >
    <div class="col-md-3">
      <input
        type="text"
        appOnlyNumber
        class="form-control"
        formControlName="LoanAccountTypeCode"
        (change)="onAccountTypeChange(loanInfoForm.value.LoanAccountTypeCode)"
        (keydown)="onAccountTypeChangekeydown($event)"
      />
    </div>
    <div class="col-md-4">
      <select
        class="form-control pt-0"
        formControlName="LoanAccountType"
        (change)="onAccountTypeChange(loanInfoForm.value.LoanAccountType)"
      >
        <option value="0">-Select-</option>
        <option
          *ngFor="let item of inputHelpData.AccountTypeList"
          [value]="item.Id"
        >
          {{ item.Description }}
        </option>
      </select>
    </div>
    <div class="col-md-2" *ngIf="accountTypeDetails.AccDepositMode > 0">
      <label>{{ accountTypeDetails.AccDepositModeDesc }}</label>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label"
      >Member No.:<span class="text-danger">*</span></label
    >
    <div class="col-md-3">
      <input
        appOnlyNumber
        type="text"
        id="LoanMemberNo"
        class="form-control"
        (change)="onMemberNoChange()"
        (keydown)="onMemberNoChangekeydown($event)"
        formControlName="LoanMemberNo"
        required
      />
    </div>
    <div class="col-md-4">
      <input
        type="text"
        class="form-control"
        disabled
        formControlName="LoanMemberName"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label"
      >Application Amount:<span class="text-danger">*</span></label
    >
    <div class="col-md-3">
      <input
        appOnlyNumber
        type="text"
        id="LoanApplicationAmount"
        class="form-control"
        (change)="onLoanAmountEvent()"
        (keydown)="onLoanAmountEventkeydown($event)"
        formControlName="LoanApplicationAmount"
        required
      />
    </div>
    <label
      class="col-md-3 col-form-label"
      *ngIf="hideShowModel.ShowLoanGraceMonth"
      >Loan Grace Month:</label
    >
    <div class="col-md-2">
      <input
        type="text"
        class="form-control"
        *ngIf="hideShowModel.ShowLoanGraceMonth"
        formControlName="LoanGracePeriod"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label">Interest Rate:</label>
    <div class="col-md-3">
      <input
        type="text"
        class="form-control"
        formControlName="LoanInterestRate"
      />
    </div>
    <label class="col-md-2 col-form-label" *ngIf="hideShowModel.ShowInstallment"
      >No Of Installment:</label
    >
    <div class="col-md-2" *ngIf="hideShowModel.ShowInstallment">
      <input
        type="text"
        class="form-control"
        formControlName="LoanNoInstallment"
        (change)="onLoanNoEvent()"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label">Loan Category:</label>
    <div class="col-md-1">
      <input
        type="text"
        class="form-control"
        formControlName="LoanCategoryCode"
      />
    </div>
    <div class="col-md-2">
      <select class="form-control pt-0" formControlName="LoanCategory">
        <option value="0">-Select-</option>
        <option
          *ngFor="let item of inputHelpData.LoanCategoryList"
          [value]="item.Id"
        >
          {{ item.Description }}
        </option>
      </select>
    </div>
    <label class="col-md-2 col-form-label" *ngIf="hideShowModel.ShowInstallment"
      >Installment Amount:</label
    >
    <div class="col-md-2" *ngIf="hideShowModel.ShowInstallment">
      <input
        type="text"
        class="form-control"
        formControlName="LoanInstallmentAmount"
        (change)="onLoanAmountEvent()"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label">Loan Expire Date:</label>
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="LoanExpDate" />
    </div>
    <label class="col-md-2 col-form-label" *ngIf="hideShowModel.ShowInstallment"
      >Last Installment Amount:</label
    >
    <div class="col-md-2" *ngIf="hideShowModel.ShowInstallment">
      <input
        type="text"
        class="form-control"
        disabled
        formControlName="LoanLastInstallmentAmount"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label">Loan Purpose:</label>
    <div class="col-md-1">
      <input
        id="LoanPurposeCode"
        type="text"
        class="form-control"
        formControlName="LoanPurposeCode"
        (change)="onLoanPurposeChange(loanInfoForm.value.LoanPurposeCode)"
        (keydown)="onEnterLoanPurposeHandler($event)"
      />
    </div>
    <div class="col-md-2">
      <select
        class="form-control pt-0"
        formControlName="LoanPurpose"
        (change)="onLoanPurposeChange(loanInfoForm.value.LoanPurpose)"
      >
        <option
          *ngFor="let item of inputHelpData.LoanPurposeList"
          [value]="item.Id"
        >
          {{ item.Description }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label"> Loan Cal. Method:</label>
    <div class="col-md-1">
      <input
        type="text"
        class="form-control"
        disabled
        formControlName="LoanInterestCalMethodCode"
        (change)="
          onLoanCalMethodChange(loanInfoForm.value.LoanInterestCalMethodCode)
        "
      />
    </div>
    <div class="col-md-2">
      <select
        class="form-control pt-0"
        disabled
        formControlName="LoanInterestCalMethod"
        (change)="
          onLoanCalMethodChange(loanInfoForm.value.LoanInterestCalMethod)
        "
      >
        <option value="0">-Select-</option>
        <option
          *ngFor="let item of inputHelpData.LoanCalculationMethodList"
          [value]="item.Id"
        >
          {{ item.Description }}
        </option>
      </select>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label">Loan Surety Member No:</label>
    <div class="col-md-3">
      <input
        type="text"
        class="form-control"
        id="LoanSuretyMemNo"
        formControlName="LoanSuretyMemNo"
        (change)="onSuretyMemberNo()"
        (keydown)="onEnterLoanSuretyMemNoHandler($event)"
      />
    </div>
    <div class="col-md-4">
      <input
        type="text"
        disabled
        class="form-control"
        formControlName="LoanSuretyMemName"
      />
    </div>
  </div>

  <div class="form-group row" *ngIf="hideShowModel.ShowInstallment">
    <label class="col-md-3 col-form-label">1st Installment Date:</label>
    <div class="col-md-3">
      <input
        type="text"
        class="form-control"
        formControlName="LoanFirstInstallmentdate"
      />
    </div>
  </div>

  <div class="form-group row" *ngIf="hideShowModel.ShowPeriod">
    <label class="col-md-3 col-form-label">OD Period:</label>
    <div class="col-md-3">
      <input type="text" class="form-control" formControlName="AccPeriod" />
    </div>
  </div>

  <div class="form-group row" *ngIf="hideShowModel.ShowCorrAccNo">
    <label class="col-md-3 col-form-label">Corr. Account No.:</label>
    <div class="col-md-3">
      <input
        type="text"
        disabled
        class="form-control"
        formControlName="CorrAccountNo"
      />
    </div>
    <div class="col-md-4">
      <input
        type="text"
        disabled
        class="form-control"
        formControlName="CorrAccountTitle"
      />
    </div>
  </div>

  <div class="form-group row" *ngIf="hideShowModel.ShowCorrAccNo">
    <label class="col-md-3 col-form-label">Auto Trf. Corr. A/c:</label>
    <div class="col-md-1">
      <input
        type="checkbox"
        class="form-control"
        formControlName="IsAutoTrfCorrAccount"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label">Steps of Loan:</label>
    <div class="col-md-3">
      <input
        type="text"
        class="form-control"
        disabled
        formControlName="StepsOfLoan"
      />
    </div>
    <label class="col-md-2 col-form-label">Previous Performance:</label>
    <div class="col-md-2">
      <input
        type="text"
        class="form-control"
        disabled
        formControlName="LoanPerformance"
      />
    </div>
  </div>

  <div class="form-group row">
    <label class="col-md-3 col-form-label">Total Deposits :</label>
    <div class="col-md-3">
      <input
        type="text"
        class="form-control"
        disabled
        formControlName="TotalDepAmount"
      />
    </div>
    <div class="col-md-1">
      <button
        type="button"
        value="Details"
        class="btn btn-primary"
        (click)="OpenDepositAccountPoUp()"
      >
        Details
      </button>
    </div>
  </div>
</form>
